.button{
  height:40px;
  width: 150px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  align-content: center;
  text-align: center;
}

.button__book-time{
   background-color: #FF9900;
   color: white;
}

.button__book-gift{
    background-color: white;
    color: black;
}

.button__value{
  text-align: center;
  margin: auto auto;
}